# Default ignored files
/shelf/
/workspace.xml

# Rider ignored files
/.idea.Dot2013_230517028_AtakanAtak_Assignment_3_4.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

